extend base

block content
  iframe(id="if0" width="50%" height="50%" src="http://www.seday.org")
  iframe(id="if1" width="50%" height="50%" src="https://www.w3schools.com")
  iframe(id="if2" width="50%" height="50%" src="https://www.w3schools.com")
  iframe(id="if3" width="50%" height="50%" src="https://www.w3schools.com")
